* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: antiquewhite;
}

.main {
  background-color: #515050;
  width: 30%;
  padding: 2em;
  margin: 1em;
  border-radius: 10px;
}

h1 {
  margin-bottom: 1em;
  text-align: center;
}

.msg {
  background-color: antiquewhite;
  color: #333;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

button {
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 0.5em;
}

.emojibtns {
  display: flex;
  flex-wrap: wrap;
}

.emojibtns button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.emojibtns button:hover {
  transform: scale(1.2);
}
.msginputdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.msginputdiv input {
  width: 100%;
  border: none;
  border-right: solid 1px #333;
}

.msginputdiv button {
  background-color: white;
  height: 100%;
  border-radius: 0;
}
